build
.DS_Store
*.bbl
*.blg
*.log
*.out
*.fls
*.fdb_latexmk
*~
*.aux
*.synctex.gz
*.tcl
*.cmake
*.vtc
*CMakeCache.txt
*MakeFile
*CMakeFiles
code/curve-class/CMakeCache.txt
code/curve-class/CMakeFiles/
papers/geometric-interpretation/geometric-interpretation.pdf
papers/homotopy_summer_19/homotopy_summer_19.pdf
papers/brad-qual20/five-papers/five-papers.pdf
papers/eurocg21/eurocg2021.pdf
papers/cccg21/cccg21.pdf
papers/sosa2022/sosa22.pdf
papers/stacs22/stacs22.pdf
papers/esa2022/esa22.pdf

# Atom
*.yaml
