build
*.toc
*.DS_Store
.DS_Store
*.bbl
*.blg
*.log
*.out
*.fls
*.fdb_latexmk
*~
*.aux
*.synctex.gz
*.tcl
*.cmake
*.vtc
*CMakeCache.txt
*MakeFile
*CMakeFiles
code/curve-class/CMakeCache.txt
using-the-gauss-bonnet-theorem/main.pdf


# Atom
*.yaml
